{% extends "base.html" %}

{% block page_title %}Web FWD — Apply{% endblock %}

{% block body_id %}apply{% endblock %}
{% block body_classes %}white{% endblock %}

{% block content %}
<section id="tab" class="cf">
    <div id="essentials" class="row">
        <div class="c5"></div>
        <div class="c1"><a href="http://mozilla.com"><img class="tab" src="{{ MEDIA_URL}}img/tab.png" alt="Mozilla"></a></div>
    </div>
</section>

<section id="spacer" class="cf">
    <!-- spacer section to act as background for fixed nav -->
</section>

<nav id="primaryNav" class="cf">
    <div class="c2">
        <a href="{{ url('index') }}"><img src="{{ MEDIA_URL }}img/fwd_logo.png" title="Web FWD" alt="Web FWD"></a>
    </div>
    <ul class="c4">
        <li><a href="{{ url('index') }}#what" class="what">What</a></li>
        <li><a href="{{ url('index') }}#how" class="how">How</a></li>
        <li><a href="{{ url('index') }}#who" class="who">Who</a></li>
        <li><a href="{{ url('index') }}#when" class="when">When</a></li>
        <li><a href="{{ url('index') }}#why" class="why">Why</a></li>
        <!--
        <li><a href="{{ url('index') }}#buzz" class="buzz">Buzz</a></li>
        -->
        <li>|</li>
        <li><a class="FAQ" href="{{ url('faq') }}">FAQ</a></li>
        <li><a class="mentors" href="{{ url('mentorship') }}">Mentors</a></li>
        <li><a class="apply selected">Apply</a></li>
    </ul>
</nav>  

<section id="notes" class="cf">
    <!-- copy in this section is up for editing -->
    <div class="c1"></div>
    <div class="c4">
        <p class="serif">Please read over our application form carefully before filling it in. Fill out as many fields as you feel applies to your project and we will get back to you in a timely manner.
    </div>
</section>

<form action="{{ url('apply') }}" method="POST" id="form" class="cf">
	{{ csrf() }}
	
	{{ form.management_form }}
	
  {% for f in form %}
    <div id="{{ f.name }}-container" class="field">
    {% if f.name == 'accept_terms' %}
      <label for="id_{{ f.name }}">
          Please confirm that you have read, understood and agree to our
          <a href="http://www.mozilla.com/en-US/about/legal.html">
            Terms of Service
          </a>
      </label>
    {% elif f.name == 'accept_privacy' %}
      <label for="id_{{ f.name }}">
          Please confirm that you have also read, understood and agree to our
          <a href="http://www.mozilla.com/en-US/privacy-policy.html">
            Privacy Policy
          </a>
      </label>
    {% else %}
      {{ f.label_tag() }}
    {% endif %}
      {{ form.errors[f.name] }}
      {{ f }}
    </div>
  {% endfor %}
	
	<input type="submit" id="submit" value="Submit Application">
	
	<div class="clear"></div>
</form>
{% endblock content %}
