{% extends "base.html" %}

{% block page_title %}WebFWD — Projects{% endblock %}

{% block body_id %}projects{% endblock %}
{% block body_classes %}white{% endblock %}

{% block content %}
<nav id="primaryNav" class="cf">
    <div class="c2">
        <a href="{{ url('index') }}"><img src="{{ MEDIA_URL }}img/fwd_logo.png" title="WebFWD" alt="WebFWD"></a>
    </div>
    <ul class="c4">
        <li><a href="{{ url('index') }}#what" class="what">What</a></li>
        <li><a href="{{ url('index') }}#how" class="how">How</a></li>
        <li><a href="{{ url('index') }}#who" class="who">Who</a></li>
        <li><a href="{{ url('index') }}#when" class="when">When</a></li>
        <li><a href="{{ url('index') }}#why" class="why">Why</a></li>
        <li><a href="{{ url('index') }}#buzz" class="buzz">Buzz</a></li>
        <li>|</li>
        <li><a class="Blog" href="http://blog.webfwd.org/">Blog</a></li>
        <li><a class="FAQ" href="{{ url('faq') }}">FAQ</a></li>
        <li><a class="mentors" href="{{ url('mentorship') }}">Mentors</a></li>
        <li class="selected">Projects</li>
        <li><a class="apply" href="{{ url('apply') }}">Apply</a></li>
    </ul>
</nav>  

<section id="aboutMentorship" class="cf">
    <div class="c1"></div>
    <div class="c4">
        <h1 class="light">WebFWD Projects</h1>
        <p class="serif">This is just working... nice</p>
    </div>
</section>

<hr>

<section id="family" class="cf">
    <div class="c3">
        <img src="{{ MEDIA_URL }}img/logo_pollenizer.jpg" alt="Pollenizer">
        <p class="serif">Pollenizer creates web businesses. We take innovative ideas and turn them into investable businesses. Some would say we are an incubator but we think we're something altogether different. Since inception, we have created a process that gets out portfolio companies in front of customer quickly and measures performance for maximum impact and investor confidence.</p>
        <p class="serif"><a href="http://www.pollenizer.com/" target="_blank">Visit Pollenizer</a></p>
    </div>
    <div class="c3">
        <img src="{{ MEDIA_URL }}img/logo_founderslab.jpg" alt="Founder Labs">
        <p class="serif">Founder Labs is a 5-week pre-incubator focused on the first phase of launching a mobile startup - finding a team and validating the business idea. Through Founder Labs, aspiring founders build a founding team, learn technical, lean startup skills, validate ideas to find the right product-market fit and rapidly prototype and test.What does this look like? The breakdown: 50% male, 50% female. 50% technical, 50% non-technical.</p>
        <p class="serif"><a href="http://founderlabs.org/" target="_blank">Visit Founder Labs</a></p>
    </div>

    <div style="clear:both;"></div>

    <div class="c3">
        <img src="{{ MEDIA_URL }}img/logo_designerfund.jpg" alt="Designer Fund">
        <p class="serif">The Designer Fund is a community of designers who invest in designer founders through mentorship and angel funding, like AngelList for designers. Industry leading designers representing major platforms (YouTube, Facebook, Google, Twitter, LinkedIn), consultancies (IDEO, Cooper, Jump Associates, Frog, Method), and startups (Path, Flipboard, Peel) select applying candidates for angel investments and referrals to partners including accelerators like WebFWD.</p>
        <p class="serif"><a href="http://thedesignerfund.com/" target="_blank">Visit The Designer Fund</a></p>
    </div>
    <div class="c3">
        <img src="{{ MEDIA_URL }}img/logo_pivotallabs.gif" alt="Pivotal Labs">
        <p class="serif">Pivotal Labs is a software development consultancy working with early stage startups, growth stage startups, and small innovative groups within larger enterprises. Pivotal works with teams to co-develop products rapidly and iteratively, building a solid technical foundation and a culture that supports rapid product development over the long term.</p>
        <p class="serif"><a href="http://pivotallabs.com/" target="_blank">Visit Pivotal Labs</a></p>
    </div>

    <div style="clear:both;"></div>

    <div class="c3">
        <img src="{{ MEDIA_URL }}img/logo_seedcamp.jpg" alt="Seedcamp">
        <p class="serif">Seedcamp is an early-stage micro seed investment fund and mentoring programme that was was created to jumpstart the entrepreneurial community in Europe by connecting next generation developers and entrepreneurs with over 1200 mentors. Across 10 global Mini Seedcamps spread throughout the year and our annual week-long forum (Seedcamp Week), we bring together EMEA’s top young founders with a world-class network of mentors in one place.</p>
        <p class="serif"><a href="http://seedcamp.com/" target="_blank">Visit Seedcamp</a></p>
    </div>
    <div class="c3">
        <img src="{{ MEDIA_URL }}img/logo_teensintech.jpg" alt="Teens in Tech">
        <p class="serif">Teens in Tech Labs provides tools and resources to young entrepreneurs globally to help foster entrepreneurship at a young age. Founded on the premise that entrepreneurship doesn’t happen at a certain age or a certain location, Teens in Tech Labs provides a support community and network to help young entrepreneurs create innovative and disruptive businesses.</p>
        <p class="serif"><a href="http://teensintech.com/" target="_blank">Visit Teens in Tech</a></p>
    </div>
</section>
{% endblock content %}
