<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Web Forward{% endblock %}</title>

    {% block site_css %}
      {{ css('apply_css') }}
      
      <!--[if IE]>
          <style type="text/css">
              body #what #essentials {
                  top: 0px;
              }
          </style>
      <![endif]-->
    {% endblock %}

    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  </head>
  <body id="page-{% block body_id %}web-forward{% endblock %}" class="no-js {% block body_classes %}{% endblock %}">
    <div id="grid"></div>

    <div id="wrapper">
      {% block content %}{% endblock %}

      <footer class="cf">
          <div class="c2">
              &copy; Mozilla 2011 | <a href="http://www.mozilla.com/en-US/privacy-policy.html">Privacy Policy</a> | <a href="http://www.mozilla.com/en-US/about/legal.html">Legal Notices</a>
          </div>
          <div class="c4">
              <ul>
                  <li><a href="mailto:webfwd@mozilla.com">Contact Us</a></li>
                  <li><a href="http://twitter.com/mozlabs">Twitter</a></li>
                  <li><a href="http://www.facebook.com/mozlabs">Facebook</a></li>
                  <li><a href="http://blog.webfwd.org/">Blog</a></li>
              </ul>
          </div>
      </footer>
    </div>

    {% block site_js %}
      <script>
          document.createElement("section");
          document.createElement("article");  
          document.createElement("footer");  
          document.createElement("header");  
          document.createElement("hgroup");  
          document.createElement("nav");  
      </script>

      {{ js('apply_js') }}
    {% endblock %}
  </body>
</html>
