<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}WebFWD{% endblock %}</title>

    {% block site_css %}
      {{ css('apply_css') }}
      
      <!--[if IE]>
          <style type="text/css">
              body #what #essentials {
                  top: 0px;
              }
          </style>
      <![endif]-->
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.png">
  </head>
  <body id="page-{% block body_id %}web-forward{% endblock %}" class="no-js {% block body_classes %}{% endblock %}">
    <div id="grid"></div>

    <div id="wrapper">
      <div id="essentials" class="row">
          <div class="c5"></div>
          <div class="c1"><a href="http://mozilla.com"><img class="tab" src="{{ MEDIA_URL }}img/tab.png"></a></div>
      </div>

      {% block content %}{% endblock %}

      <footer class="cf">
          <div class="c2">
              &copy; Mozilla 2011 | <a href="http://www.mozilla.com/en-US/privacy-policy.html">Privacy Policy</a> | <a href="http://www.mozilla.com/en-US/about/legal.html">Legal Notices</a>
          </div>
          <div class="c4">
              <ul>
                  <li><a href="mailto:webfwd@mozilla.com">Contact Us</a></li>
                  <li><a href="http://twitter.com/mozlabs">Twitter</a></li>
                  <li><a href="http://www.facebook.com/mozlabs">Facebook</a></li>
                  <li><a href="http://blog.webfwd.org/">Blog</a></li>
              </ul>
          </div>
      </footer>
    </div>

    {% block site_js %}
      <script>
          document.createElement("section");
          document.createElement("article");  
          document.createElement("footer");  
          document.createElement("header");  
          document.createElement("hgroup");  
          document.createElement("nav");  
      </script>

      {{ js('apply_js') }}
      
      <!-- START OF SmartSource Data Collector TAG -->
      <!-- Copyright (c) 1996-2011 Webtrends Inc.  All rights reserved. -->
      <!-- Version: 9.4.0 -->
      <!-- Tag Builder Version: 3.2  -->
      <!-- Created: 6/24/2011 5:14:03 PM -->
      <script type="text/javascript">
      //<![CDATA[
      var _tag=new WebTrends();
      _tag.dcsGetId();
      //]]>
      </script>
      <script type="text/javascript">
      //<![CDATA[
      _tag.dcsCustom=function(){
      // Add custom parameters here.
      //_tag.DCSext.param_name=param_value;
      }
      _tag.dcsCollect();
      //]]>
      </script>
      <noscript>
      <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="//statse.webtrendslive.com/dcs1gstlsvz5bdaufxly07hkp_4n9x/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.webfwd.org"/></div>
      </noscript>
      <!-- END OF SmartSource Data Collector TAG -->
      
    {% endblock %}
  </body>
</html>
